.container {
  width: 100%;
  max-width: clamp(320px, 90vw, 1200px); /* адаптивная ширина */
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .swiper .swiper-button-next {
  right: 5.73vh;
  }
  .swiper .swiper-button-prev {
    left: 5.73vh;
  }
}

@media (max-width: 1440px) {
  .swiper .swiper-button-next {
  right: 1vh;
  }
  .swiper .swiper-button-prev {
    left: 1vh;
  }
}

@media (max-width: 1024px) {
  .benefits__body {
    flex-wrap: wrap;
  }
  .benefits__body .benefits__card {
    width: 45%;
  }
  .rations .rations__card {
    width: 45%;
  }
  .about .about__body {
    align-items: start;
  }
}


@media (max-width: 768px) {
  .swiper .swiper-wrapper .swiper-button-next {
    right: 1vh;
  }
  .swiper .swiper-wrapper .swiper-button-prev {
    left: 1vh;
  }
  .header__top-logo svg {
    width: 110px;
  }
  .header__top .header__top-contacts {
    justify-items: flex-end;
    text-align: right;
    justify-content: end;
  }
  .header__top-item > span {
    display: none;
  }
  .header__top-item svg {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    padding: 5px;
    color: var(--color-white);
    background-color: var(--color-primary);
  }
  .header__top-item:hover .header__item-sub {
    opacity: 1;
  }
  .rations .rations__card {
    width: 100%;
  }
  .about .about__body {
    flex-direction: column-reverse;
  }
  .about .about__img {
    width: 100%;
  }
  .delivery__body {
    flex-direction: column;
  }
  .delivery .delivery__img {
    border-radius: 0 0 14px 14px;
    width: 100%;
  }
}

@media (max-width: 660px) {
  .header__menu {
    position: fixed;
    flex-direction: column;
    background-color: var(--color-white);
    left: 0;
    top: 0;
    z-index: 10000;
    display: flex;
    height: 100vh;
  }
  .benefits .benefits__body {
    justify-content: center;
  }
  .benefits__body .benefits__card {
    width: 80%;
  }
  .hero .hero__body .container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .delivery .delivery__item {
    padding: 40px;
  }
}
